body {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
/* #border{
    background-color: purple;
    height: 90vh;
    padding-top: 6%;
    padding-left: 4%;
} */

#page{
    /* border: solid;
    width: 100%; */
    height: 90vh;
    contain: layout;
    border-radius: 20px;
    background-color: rgb(238, 170, 182);
    
    
}
#topnav{
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
}
#input{
    background-image: url('images/search.png');
    background-size: 19px;
    background-repeat: no-repeat;
    border-radius: 20px;
    width: 10%;
    font-size: smaller;
    padding: 2px;
    
}
#signup{
    border-radius: 20px;
    width: 10%;
    background-color: gray;
    color: aliceblue;
}
#sect2{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;

}
#learn{
    border-radius: 20px;
    padding-left: 30px;
}
#footer{
    display: flex;
    justify-content: space-around;
    background-color: white;
    /* margin-top: 7%; */
    margin-top: 4%;
}
#image{
    width: 400px;
    height: 390px;
}
@media screen and (min-width: 280px) and (max-width:560px){
    body {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
      }
    
    #page{
        border: solid;
        width: 100%;
        height: 100%;
        contain: layout;
        border-radius: 20px;
        background-color: peachpuff;
        
        
    }
    #topnav{
        display: block;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 3%;
    }
    #input{
        background-image: url('images/search.png');
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 20px;
        width: 200px;
        font-size: smaller;
        padding: 2px;
    }
    #signup{
        border-radius: 20px;
        width: 100px;
        background-color: gray;
        color: aliceblue;
    }
    #sect2{
        display: block;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 5%;
        height: 400px;
    
    }

    #learn{
        border-radius: 20px;
        padding-left: 5px;
        font-size: smaller;
    }
    #footer{
        display: block;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: white;
        margin-top: 10%;
        font-size: smaller;
    }
    #image{
        width: 1px;
        height: 3px;
    }
    #search{
        width: 10px;
    }

}

@media screen and (min-width: 561px) and (max-width:800px){
    body {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
      }
    
    #page{
        border: solid;
        width: 100%;
        height: 100%;
        contain: layout;
        border-radius: 20px;
        background-color: peachpuff;
        
        
    }
    #topnav{
        display: flex;
        justify-content: space-around;
        padding-top: 3%;
    }
    #input{
        background-image: url('images/search.png');
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 20px;
        width: 200px;
        font-size: smaller;
        padding: 2px;
    }
    #signup{
        border-radius: 20px;
        width: 100px;
        background-color: gray;
        color: aliceblue;
    }
    #sect2{
        display: block;
        margin-top: 5%;
        height: 400px;
    
    }

    #learn{
        border-radius: 20px;
        padding-left: 5px;
        font-size: smaller;
    }
    #footer{
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: space-around;
        background-color: white;
        margin-top: 10%;
        font-size: smaller;
    }
    #image{
        width: 1px;
        height: 3px;
    }
    #search{
        width: 10px;
    }

}

















































































































































































/* media all and (min-width: 200px) and (max-width:1024px){
   body {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
      }

        #border{
        background-color: purple;
        height: 70vh;
        padding-top: 6%;
        padding-left: 4%;
        width: 100%;
    }
    #page{
        border: solid;
        width: 90%;
        height: 62vh;
        border-radius: 20px;
        background-color: peachpuff;
        
        
    }
    #topnav{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 3%;
        font-size: smaller;
    }
    #anything{
        border-radius: 20px;
        width: 30%;
    }
  #signup{
        border-radius:20px;
        width: 9%;
        background-color: gray;
        color: aliceblue;
        font-size: smaller;
    
    }

    #sect2{
        display: flex;
        /* flex-wrap: wrap; */
        /* gap: 1px;
        margin-top: 3%;
        font-size: smaller;
        max-width: 50%;
        height: auto;
    
    } */
     /* */ */